<h2 align="center"> 
     <% if current_user == @user %>
        Your comments
    <% else %>
        <%= @user.username %>'s comments %>
    <% end %>
</h2>

<div class="center">
    <%= will_paginate @user_comments %>
</div>

<%= render "shared/comment", obj: @user.comments %>

<div class="center">
    <%= will_paginate @user_comments %>
</div>



