<div class="container">
    <footer class="footer">
        <nav>
            <ul>
                <li><%= link_to "Return to Learning Games", "http://herebegregs.uk/stana/learningGames/index.html"%></li>
            </ul>
        </nav>
        <small>
            You can contact us on s.svobodova83@gmail.com 
        </small>
        
    </footer>
</div>