<footer class="footer">
    <div class="container-fluid">
        <%= link_to "Return to Brumbledown Wood Games", "http://herebegregs.uk/stana/learningGames/index.html"%></li>
        <small>Contact: s.svobodova83@gmail.com</small>
    </div>
</footer>
